@model List<Order>
@*@model IEnumerable<Order>*@

@{
    ViewData["Title"] = "Bar";
}

<h2>Bar Orders</h2>

<style>
    td {
        border-bottom: 1px solid black;
        border-collapse: collapse;
    }
</style>



<div id="finalizedOrders">
    @foreach (Order item in Model)
    {

        @if (item.Finalized != null)
        {
            @foreach (var a in item.Finalized)
            {
                if (a.Course.Course == CourseType.DRINK)
                {
                    <h2>Order no: @item.OrderID</h2>
                    break;
                }
            }

            foreach (Dish d in item.Finalized)
            {
                if (d.Course.Course == CourseType.DRINK)
                {
                    <div>@d.Course.Name</div>

                }

            }
        }
    }
</div>

@*<div id="finalizedOrders">
    <h1>Orders</h1>

    <table id="fOrders">
        <thead>

            <tr>
                <th>
                    Order &emsp;
                </th>
                <th>
                    Table &emsp;
                </th>
                <th>
                    Dish &emsp;
                </th>
                @*<th>
                    Quantity &emsp;
                </th>*@
@*</tr>
    </thead>
    <tbody>
        @foreach (var element in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => element.Order)
                </td>
                <td>
                    @Html.DisplayFor(m => element.Table)
                </td>
                <td>
                    @Html.DisplayFor(m => element.DishName)
                </td>*@
@*<td>
        @Html.DisplayFor(m => element.Quantity)
    </td>*@

@*</tr>
                }
            </tbody>
        </table>

    </div>*@
@*<br />
    <br />

    <button onclick="printPDF('finalizedOrders')">Print Orders</button>

    <br />
    <br />*@

<a asp-action="Index">Back to Index</a>



@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

    <script>

    </script>

    <script>
        function printPDF(elem) {
            var mywindow = window.open('', 'PRINT', 'height=400,width=600');


            mywindow.document.write(document.getElementById(elem).innerHTML);


            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();

            return true;
        }
    </script>
}

