@model List<FinalizedOrder>

@{
    ViewData["Title"] = "Index";
}
<style>
    td {
        border-bottom: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div id="finalizedOrders">
    <h1>Orders</h1>

    <table id="fOrders">
        <thead>
            <tr>
                <th>
                    Order &emsp;
                </th>
                <th>
                    Table &emsp;
                </th>
            </tr>
   
        </thead>
        <tbody>
            @foreach (var element in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => element.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(m => element.TableID)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @*@foreach (var element in Model)
    {
        <p>@Html.DisplayFor(m => element.Name)</p>
        <p>@Html.DisplayFor(m => element.OrderID)</p>
        <p>@Html.DisplayFor(m => element.TableID)</p>
    }*@
</div>
<br />
<br />

<button onclick="printPDF('finalizedOrders')">Print Orders</button>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

   <script>
       
    </script>

    <script>
        function printPDF(elem) {
            var mywindow = window.open('', 'PRINT', 'height=400,width=600');


            mywindow.document.write(document.getElementById(elem).innerHTML);


            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();

            return true;
        }
    </script>
}