@model WebInterface.ViewModel.DishTypesViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Edit @Model.Dish.Name</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dish.DishTypeID" />
            <input type="hidden" asp-for="Ingredients" />

            <div class="form-group">
                <label asp-for="Dish.Name" class="control-label"></label>
                <input asp-for="Dish.Name" class="form-control" />
                <span asp-validation-for="Dish.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Dish.Price" class="control-label"></label>
                <input asp-for="Dish.Price" class="form-control" />
                <span asp-validation-for="Dish.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Dish.Course" class="control-label"></label>
                <select asp-for="Dish.Course" asp-items="Html.GetEnumSelectList<CourseType>()" class="form-control"></select>
                <span asp-validation-for="Dish.Course" class="text-danger"></span>
            </div>

            <div class="form-group">
                @{
                    string data = "SubDishTypeID";
                    string name = "SubType";
                    string dropDownName = "SubTypeID";
                }
                <label asp-for="Dish.SubDishType" class="control-label">Category</label>
                @Html.DropDownList(dropDownName, new SelectList(Model.SubTypeList, data, name), new { @class = "form-control" })
                <span asp-validation-for="Dish.SubDishType" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Dish.Recipe" class="control-label"></label>
                <textarea rows="5" cols="25" id="RecipeForm" asp-for="Dish.Recipe" class="form-control"></textarea>
                <span asp-validation-for="Dish.Recipe" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Go Back to Dishes Overview</a>
</div>


<table class="table" id="AddedIngredients">
    <thead>
        <tr>
            <th>
                Added ingredient
            </th>
            <th>
                Quantity
            </th>
            <th>
                Unit
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Dish.DefaultIngredients != null)
        {
            foreach (var item in Model.Dish.DefaultIngredients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.Name)
                    </td>
                    <td>
                        <form asp-route-IngredientID="@item.IngredientID" asp-route-DishTypeID="@Model.Dish.DishTypeID" asp-action="SaveQuantity">
                            <input type="text" name="Quantity" value="@item.Quantity" />
                            <input type="submit" value="Save" />
                        </form>
                    </td>
                    <td width="15%">
                        
                        @if (item.Quantity <= 1)
                        {
                            <text> @item.Type.UnitSingular</text>
                        }
                        else
                        {
                            <text> @item.Type.UnitPlural</text>
                        }

                    </td>
                    <td>
                        <a asp-action="RemoveIngredient" asp-route-IngredientID="@item.IngredientID" asp-route-DishTypeID="@Model.Dish.DishTypeID">Remove ingredient</a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>


<br />
<br />
<br />
<br />


<table class="table" id="IngredientsToAdd"></table>

<form asp-action="AddIngredientToDish" id="AddIngredientToDishForm" hidden>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="IngredientTypeID" id="IngredientTypeID" value="" />
    <input type="hidden" name="DishTypeID" value="@Model.Dish.DishTypeID" id="DishTypeID" />
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var table = $('#AddedIngredients').DataTable({
                serverSide: false
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            var table = $('#IngredientsToAdd').DataTable({
                serverSide: false,
                ajax: {
                    url: "/dishtypes/PageData",
                    "dataSrc": ""
                },
                columns: [
                    {
                        name: 'name',
                        data: "name",
                        title: "Ingredients to add",
                        sortable: true,
                        searchable: true
                    },
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": "<button id=\"addbutton\">Add Ingredient to dish </button>",
                        sortable: false,
                        searchable: false
                    }
                ]
            });

            $('#IngredientsToAdd').on('click', '#addbutton', function () {
                var data = table.row($(this).parents('tr')).data();

                var inputField = $("#IngredientTypeID");
                inputField.val(data.IngredientTypeID);

                inputField = document.getElementById("IngredientTypeID");
                inputField.value = data.ingredientTypeID;

                $("#AddIngredientToDishForm").submit();

            })

        })
    </script>
}