@using WebInterface.Models.CombinedModels
@using WebMatrix.Data
@model GuestCodeWithModel<DishTypeViewModel>
@{
    ViewData["Title"] = "Desserts";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";
}

@*@{
        var db = Database.Open("Orders");
        var selectQueryString = "SELECT * FROM DishTypes ORDER BY Name";

    }*@

<h2>Desserts</h2>
<hr />

<style>


    body {
        background-image: url(https://i.dietdoctor.com/wp-content/uploads/2017/12/DessertsImageMob.jpg?auto=compress%2Cformat&w=1200&h=610&fit=crop)
    }

    .SubDessert {
        float: left;
        width: 50%;
    }

    .customize {
        float: left;
        width: 30%;
    }


    .quantity {
        float: left;
        width: 20%;
    }

    #theInput {
        width: 30%;
    }
</style>


<body>
    <div class="Desserts">
        @if (Model.Model.DishTypes.Count() == 0 || Model.Model.DishTypes.Count() < 0)
        {
            <div>No Desserts to display</div>
        }

        else if (Model.Model.DishTypes.Count() > 0)
        {
            if (Model.Model.SubDishTypes.Count() == 0)
            {
                @for (int j = 0; j < Model.Model.DishTypes.Count(); j++)
                {
                    if (Model.Model.DishTypes[j].SubDishType == null)
                    {
                        <div class="SubDessert">@Model.Model.DishTypes[j].Name</div>
                        <div class="customize">[Customize]</div>
                        <div class="Quantity" id="@Model.Model.DishTypes[j].Name"><input type="number" min="0" value="0" name="@Model.Model.DishTypes[j].Name"></div>
                    }
                }

            }

            else if (Model.Model.SubDishTypes.Count() > 0)
            {
                @for (int i = 0; i < Model.Model.SubDishTypes.Count(); i++)
                {
                    <h3>@Model.Model.SubDishTypes[i].SubType</h3>

                    @for (int j = 0; j < Model.Model.DishTypes.Count(); j++)
                    {
                        if (Model.Model.DishTypes[j].SubDishType != null)
                        {
                            if (Model.Model.DishTypes[j].SubDishType.SubType == Model.Model.SubDishTypes[i].SubType)
                            {
                                <div class="SubDessert">@Model.Model.DishTypes[j].Name</div>
                                <div class="customize">[Customize]</div>
                                <div class="Quantity" id="@Model.Model.DishTypes[j].Name"><input type="number" min="0" value="0" name="@Model.Model.DishTypes[j].Name"></div>
                            }

                        }
                    }
                }



                @for (int j = 0; j < Model.Model.DishTypes.Count(); j++)
                {

                    if (Model.Model.DishTypes[j].SubDishType == null)
                    {
                        <h3> Others </h3>
                        break;

                    }
                }

                @for (int j = 0; j < Model.Model.DishTypes.Count(); j++)
                {

                    if (Model.Model.DishTypes[j].SubDishType == null)
                    {
                        <div>@Model.Model.DishTypes[j].Name</div>
                    }
                }

            }


        }
    </div>
</body>
<br />
<br />
<input type="button" value="Go Back to Main courses" onclick="location.href='@Url.Action("Mains", "MenuCard", new { GuestCode = Model.GuestCode} )'" />
<input type="button" value="Place Order" onclick="location.href='@Url.Action("OrderOverview", "MenuCard", new { GuestCode = Model.GuestCode} )'" />
