@model GuestCodeWithModel<List<DishType>>


@{
    ViewData["Title"] = "Drinks";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";
}

<hr />

<h2>Drinks</h2>


<h3>Cold Beverages</h3>



<ul>
    <table name="ColdBeverageTable" class="table">

        @foreach (DishType d in Model.Model)
        {
            <tr>
                @if (d.SubType == "ColdBeverage")
                {
                    <td>
                      <li>  @d.Name </li>
            </td>
            <td width="20%">
                [customize]
            </td>
            <td width="50%">

                <div class="quantity buttons_added">
                    <input id="minus" type="button" class="minus" value="-">
                    <input id="theInput" type="number" size="3" class="input-text qty text" title="Qty" value="0" min="0" step="1">
                    <input id="plus" type="button" class="plus" value="+">
                </div>
                <script>
                    var input = document.getElementById('theInput');
                    document.getElementById('plus').onclick = function () {
                        input.value = parseInt(input.value, 10) + 1
                    }
                    document.getElementById('minus').onclick = function () {

                        if (input.value > 0) { input.value = parseInt(input.value, 10) - 1 }
                        else if (input.value <= 0) { input.value = 0 }
                    }


                </script>
            </td>
        }

                </tr>

            }
        </table>
    </ul>




    <h3>Hot Beverages</h3>

    @*<ol>

            @foreach (DishType d in Model)
            {

                @if (d.SubType == "HotBeverage")
                {
                    <li>  @d.Name </li>
                }

            }

        </ol>*@


    <ul>
        <table name="HotbeverageTable" class="table">

            @foreach (DishType d in Model.Model)
            {
                <tr>
                    <!-- Each row data
                    fisrt column names
                    second colum customize buttons
                    third colum quantity
                    -->

                    @if (d.SubType == "HotBeverage")
                    {
                        <td>
                <li>  @d.Name </li>
                </td>
                <td width="20%">
                    [customize]
                </td>

                <td width="50%">

                    <div class="quantity buttons_added">
                        <input id="minus" type="button" class="minus" value="-">
                        <input id="theInput" type="number" size="3" class="input-text qty text" title="Qty" value="0" min="0" step="1">
                        <input id="plus" type="button" class="plus" value="+">
                    </div>
                    <script>
                        var input = document.getElementById('theInput');
                        document.getElementById('plus').onclick = function () {
                            input.value = parseInt(input.value, 10) + 1
                        }
                        document.getElementById('minus').onclick = function () {

                            if (input.value > 0) { input.value = parseInt(input.value, 10) - 1 }
                            else if (input.value <= 0) { input.value = 0 }
                        }

                            < !-- -->
                    </script>
                </td>
            }

                    </tr>

                }
            </table>
        </ul>

        <h3>Hard Drinks</h3>

        @*<ol>

                @foreach (DishType d in Model)
                {

                    @if (d.SubType == "HardDrink")
                    {
                        <li>  @d.Name </li>
                    }

                }

            </ol>*@

        <ul>
            <table name="HotbeverageTable" class="table">

                @foreach (DishType d in Model.Model)
                {
                    <tr>
                        @if (d.SubType == "HardDrink")
                        {
                            <td>
                    <li>  @d.Name </li>
                    </td>
                    <td width="20%">
                        [customize]
                    </td>

                    <td width="50%">

                        <div class="quantity buttons_added">
                            <input id="minus" type="button" class="minus" value="-">
                            <input id="theInput" type="number" size="3" class="input-text qty text" title="Qty" value="0" min="0" step="1">
                            <input id="plus" type="button" class="plus" value="+">
                        </div>
                        <script>
                                                                                        var input = document.getElementById('theInput');
                                document.getElementById('plus').onclick = function () {
                                    input.value = parseInt(input.value, 10) + 1
                                }
                                document.getElementById('minus').onclick = function () {

                                    if (input.value > 0) { input.value = parseInt(input.value, 10) - 1 }
                                    else if (input.value <= 0) { input.value = 0 }
                                }

                                    < !-- -->
                        </script>
                    </td>
                }

                        </tr>

                    }
                </table>
            </ul>

            <ul>
                <table name="HotbeverageTable" class="table">

                    @foreach (DishType d in Model.Model)
                    {
                        <tr>
                            @if (d.SubType == "HardDrinks")
                            {
                                <td>
                        <li>  @d.Name </li>
                        </td>
                        <td width="20%">
                            [customize]
                        </td>

                        <td width="50%">

                            <div class="quantity buttons_added">
                                <input id="minus" type="button" class="minus" value="-">
                                <input id="theInput" type="number" size="3" class="input-text qty text" title="Qty" value="0" min="0" step="1">
                                <input id="plus" type="button" class="plus" value="+">
                            </div>
                            <script>
                                                                                            var input = document.getElementById('theInput');
                                    document.getElementById('plus').onclick = function () {
                                        input.value = parseInt(input.value, 10) + 1
                                    }
                                    document.getElementById('minus').onclick = function () {

                                        if (input.value > 0) { input.value = parseInt(input.value, 10) - 1 }
                                        else if (input.value <= 0) { input.value = 0 }
                                    }

                                        < !-- -->
                            </script>
                        </td>
                    }

                            </tr>

                        }
                    </table>
                </ul>



                    @*<div class="quantity buttons_added">
                            <input id="minus" type="button" class="minus" value="-">
                            <input id="theInput" type="number" size="4" class="input-text qty text" title="Qty" value="1" min="0" step="1">
                            <input id="plus" type="button" class="plus" value="+">
                        </div>
                        <script>
                            var input = document.getElementById('theInput');
                            document.getElementById('plus').onclick = function () {
                                input.value = parseInt(input.value, 10) + 1
                            }
                            document.getElementById('minus').onclick = function () {

                                if (input.value > 0) { input.value = parseInt(input.value, 10) - 1}
                                else if (input.value <= 0) { input.value = 0 }



                            }
                        </script>*@



                    <input type="button" value="Go back to home" onclick="location.href='@Url.Action("Index", "MenuCard", new { GuestCode = Model.GuestCode})'" />

                    <input type="button" value="Procced To Starter" onclick="location.href='@Url.Action("Starters", "MenuCard", new { GuestCode = Model.GuestCode} )'" />

                   <input type="button" value="Place Order" onclick="location.href='@Url.Action("OrderOverview", "MenuCard", new { GuestCode = Model.GuestCode} )'" />


