@model List<DishType>


@{
    ViewData["Title"] = "Drinks";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";
}

<hr />

<h2>Drinks</h2>


<h3>Cold Beverages</h3>

<ol>

    @foreach (DishType d in Model)
    {
        @if (d.SubType == "ColdBeverage")
        {
            <li>  @d.Name </li>
        }

    }

</ol>
<hr />




<h3>Hot Beverages</h3>

<ol>

    @foreach (DishType d in Model)
    {

        @if (d.SubType == "HotBeverage")
        {
            <li>  @d.Name </li>
        }

    }

</ol>
<hr />

<h3>Hard Drinks</h3>

<ol>

    @foreach (DishType d in Model)
    {

        @if (d.SubType == "HardDrink")
        {
            <li>  @d.Name </li>
        }

    }

</ol>
<hr />



    <input type="button" value="Go back to home" onclick="location.href='@Url.Action("MenuCard")'" />

    <input type="button" value="Procced To Starter" onclick="location.href='@Url.Action("Starters", "MenuCard" )'" />

    <input type="button" value="Place Order" onclick="location.href='@Url.Action("OrderOverview", "MenuCard" )'" />


<input type="button" value="Place Order" onclick="location.href='@Url.Action("OrderOverview", "MenuCard" )'" />


