@using WebInterface.Models.CombinedModels
@model GuestCodeWithModel<DishTypeViewModel>

@{
    ViewData["Title"] = "Mains";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";
}

@{
    int quantity = 0;
}

<h2>Main Courses</h2>
<hr />


<style>

    input[type=number]::-webkit-inner-spin-button {
        opacity: 1
    }

    .SubMains {
        float: left;
        width: 45%;
    }

    .customize {
        float: left;
        width: 20%;
    }

    .Price {
        float: left;
        width: 15%;
    }

    .quantity {
        float: left;
        width: 20%;
    }

    #theInput {
        width: 20%;
    }

    .Quantity {
        float: left;
        width: 20%;
    }
</style>


<form asp-action="Mains">

    <input type="hidden" name="GuestCode" value="@Model.GuestCode" />

    <div class="Mains">
        @if (Model.Model.DishTypes.Count() <= 0)
        {
            <div>No Main courses to display</div>
        }

        else if (Model.Model.DishTypes.Count() > 0)
        {
            if (Model.Model.SubDishTypes.Count() == 0)
            {

                @for (int j = 0; j < Model.Model.DishTypes.Count(); j++)
                {
                    if (Model.Model.DishTypes[j].SubDishType == null)
                    {
                        <div class="SubMains">@Model.Model.DishTypes[j].Name</div>
                        <div class="customize">[Customize]</div>
                        <div class="Price">&euro; @Model.Model.DishTypes[j].Price</div>

                        if (Model.Model.quantityDictionary.ContainsKey(Model.Model.DishTypes[j]))
                        {
                            quantity = Model.Model.quantityDictionary[Model.Model.DishTypes[j]];
                        }
                        <div class="Quantity" id="@Model.Model.DishTypes[j].Name"><input type="number" min="0" value="@quantity" name="@Model.Model.DishTypes[j].Name"></div>
                    }
                }

            }

            else if (Model.Model.SubDishTypes.Count() > 0)
            {
                @for (int i = 0; i < Model.Model.SubDishTypes.Count(); i++)
                {
                    <h3>@Model.Model.SubDishTypes[i].SubType</h3>

                    @for (int j = 0; j < Model.Model.DishTypes.Count(); j++)
                    {
                        if (Model.Model.DishTypes[j].SubDishType != null)
                        {
                            if (Model.Model.DishTypes[j].SubDishType.SubType == Model.Model.SubDishTypes[i].SubType)
                            {
                                <div class="SubMains">@Model.Model.DishTypes[j].Name</div>
                                <div class="customize">[Customize]</div>
                                <div class="Price">&euro; @Model.Model.DishTypes[j].Price</div>
                                if (Model.Model.quantityDictionary.ContainsKey(Model.Model.DishTypes[j]))
                                {
                                    quantity = Model.Model.quantityDictionary[Model.Model.DishTypes[j]];

                                }
                                <div class="Quantity" id="@Model.Model.DishTypes[j].Name"><input type="number" min="0" value="@quantity" name="@Model.Model.DishTypes[j].Name"></div>
                            }

                        }
                    }
                }



                @for (int j = 0; j < Model.Model.DishTypes.Count(); j++)
                {

                    if (Model.Model.DishTypes[j].SubDishType == null)
                    {
                        <h3> Others </h3>
                        break;

                    }
                }

                @for (int j = 0; j < Model.Model.DishTypes.Count(); j++)
                {

                    if (Model.Model.DishTypes[j].SubDishType == null)
                    {
                        <div>@Model.Model.DishTypes[j].Name</div>
                    }
                }

            }


        }
    </div>

    <hr />

    <br />
    <br />

    <input type="button" value="Go Back to Starters" onclick="location.href='@Url.Action("Starters", "MenuCard", new { GuestCode = Model.GuestCode} )'" />

    <input type="button" value="Proceed to Dessert" onclick="location.href='@Url.Action("Desserts", "MenuCard", new { GuestCode = Model.GuestCode} )'" />

    <input type="submit" value="Place Order" onclick="location.href='@Url.Action("OrderOverview", "MenuCard",new { GuestCode = Model.GuestCode} )'" />

</form>