@using WebInterface.Models.CombinedModels

@model GuestCodeWithModel<DishTypeViewModel>


@{
    ViewData["Title"] = "Starters";
    Layout = "~/Views/Shared/_MenuCardLayout.cshtml";
}

<h2>Starters</h2>

<hr />

@{
    int quantity = 0;
}

<style>
    input[type=number]::-webkit-inner-spin-button {
        opacity: 1
    }

    .SubStarters {
        float: left;
        width: 45%;
    }

    .Price {
        float: left;
        width: 15%;
    }

    .quantity {
        float: left;
        width: 20%;
    }

    .customize {
        float: left;
        width: 20%;
    }

    #theInput {
        width: 20%;
    }
</style>

<form id="menuForm" asp-action="Starters">

    <input type="hidden" name="GuestCode" value="@Model.GuestCode" />

    <div class="Starters">
        @if (Model.Model.DishTypes.Count() == 0 || Model.Model.DishTypes.Count() < 0)
        {
            <div>No Starters to display</div>
        }

        else if (Model.Model.DishTypes.Count() > 0)
        {
            if (Model.Model.SubDishTypes.Count() == 0)
            {

                @for (int j = 0; j < Model.Model.DishTypes.Count(); j++)
                {
                    if (Model.Model.DishTypes[j].SubDishType == null)
                    {
                        <div class="SubStarters">@Model.Model.DishTypes[j].Name</div>
                        <div class="Price">&euro; @Model.Model.DishTypes[j].Price</div>

                        if (Model.Model.QuantityDictionary.ContainsKey(Model.Model.DishTypes[j]))
                        {
                            quantity = Model.Model.QuantityDictionary[Model.Model.DishTypes[j]];
                        }

                        <div class="quantity" id="@Model.Model.DishTypes[j].Name"><input class="submitOnChange" type="number" min="0" value="@quantity" name="@Model.Model.DishTypes[j].Name"></div>
                        <div class="customize"><input type="text" placeholder="Custom Note" /></div>

                    }
                }

            }

            else if (Model.Model.SubDishTypes.Count() > 0)
            {
                @for (int i = 0; i < Model.Model.SubDishTypes.Count(); i++)
                {
                    <h3>@Model.Model.SubDishTypes[i].SubType</h3>

                    @for (int j = 0; j < Model.Model.DishTypes.Count(); j++)
                    {
                        if (Model.Model.DishTypes[j].SubDishType != null)
                        {
                            if (Model.Model.DishTypes[j].SubDishType.SubType == Model.Model.SubDishTypes[i].SubType)
                            {
                                <div class="SubStarters">@Model.Model.DishTypes[j].Name</div>
                                <div class="Price">&euro; @Model.Model.DishTypes[j].Price</div>

                                if (Model.Model.QuantityDictionary.ContainsKey(Model.Model.DishTypes[j]))
                                {
                                    quantity = Model.Model.QuantityDictionary[Model.Model.DishTypes[j]];
                                }

                                <div class="quantity" id="@Model.Model.DishTypes[j].Name"><input class="submitOnChange" type="number" min="0" value="@quantity" name="@Model.Model.DishTypes[j].Name"></div>
                                <div class="customize"><input type="text" placeholder="Custom Note" /></div>

                            }

                        }
                    }
                }

                @for (int j = 0; j < Model.Model.DishTypes.Count(); j++)
                {

                    if (Model.Model.DishTypes[j].SubDishType == null)
                    {
                        <h3> Others </h3>
                        break;

                    }
                }

                @for (int j = 0; j < Model.Model.DishTypes.Count(); j++)
                {

                    if (Model.Model.DishTypes[j].SubDishType == null)
                    {
                        <div>@Model.Model.DishTypes[j].Name</div>
                    }
                }

            }


        }
    </div>
    <hr />

    <a class="btn btn-default" href=' @Url.Action("Drinks", "MenuCard", new { GuestCode = Model.GuestCode })'>Go Back to Drinks</a>
    <a class="btn btn-default" href=' @Url.Action("OrderOverview", "MenuCard", new { GuestCode = Model.GuestCode })'>Orders overview</a>
    <a class="btn btn-default" href=' @Url.Action("Mains", "MenuCard", new { GuestCode = Model.GuestCode })'>Proceed to Main Courses</a>

</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".submitOnChange").on("input", function (e) {
                $.post('UpdateSelectedDishes', $('#menuForm').serialize())
            });
        });
    </script>
}
