@model IEnumerable<WebInterface.Models.SubDishType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SubType)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubDishTypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubDishTypeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubDishTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
